<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
      <script src="/javascripts/mqtt.js"></script>
  </head>
  <body>
    <script>
//        var client = mqtt.connect('ws://127.0.0.1:3000/');
//        var client = mqtt.connect("ws://test.mosca.io");
//        var client = mqtt.connect("ws://test.mosquitto.org:8080");
//        client.subscribe("mqtt/demo");
//
//        client.on("message", function (topic, payload) {
//            alert([topic, payload].join(":"));
//            client.end();
//        })
//
//        client.publish("mqtt/demo", "hello, world!");
    </script>
  </body>
</html>
